<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="958a8d">  <td>21/05/25 17:50:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;StartInsuranceQuote.AfterTest()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@5f282abb]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>21/05/25 17:49:58</td>   <td>-44828</td> <td>&nbsp;</td><td title="&gt;&gt;StartInsuranceQuote.BeforeTest()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@5f282abb]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>21/05/25 17:50:37</td>   <td>-5892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.GoogleTest()[pri:2, instance:GeicoPagesTest.StartInsuranceQuote@5f282abb]">GoogleTest</td> 
  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>21/05/25 17:50:00</td>   <td>-42711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.StartAutoQuote()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@5f282abb]">StartAutoQuote</td> 
  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>21/05/25 17:50:28</td>   <td>-15376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.StartRenters()[pri:1, instance:GeicoPagesTest.StartInsuranceQuote@5f282abb]">StartRenters</td> 
  <td>main@161960012</td>   <td></td> </tr>
</table>
