<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5f292">  <td>21/05/06 18:39:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;StartInsuranceQuote.BeforeTest()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@3fd7a715]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>21/05/06 18:39:04</td>   <td>1814</td> <td>&nbsp;</td><td title="&gt;&gt;internalAppClassDemo.beforeTest()[pri:0, instance:InternalApp.internalAppClassDemo@711f39f9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>21/05/06 18:39:04</td>   <td>1848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="internalAppClassDemo.classDemo()[pri:0, instance:InternalApp.internalAppClassDemo@711f39f9]">classDemo</td> 
  <td>TestNG-test=Test-2@1988130315</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>21/05/06 18:39:04</td>   <td>1848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.StartAutoQuote()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@3fd7a715]">StartAutoQuote</td> 
  <td>TestNG-test=Test-1@1847791224</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>21/05/06 18:39:20</td>   <td>17771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.StartRenters()[pri:1, instance:GeicoPagesTest.StartInsuranceQuote@3fd7a715]">StartRenters</td> 
  <td>TestNG-test=Test-1@1847791224</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>21/05/06 18:39:30</td>   <td>27327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartInsuranceQuote.GoogleTest()[pri:2, instance:GeicoPagesTest.StartInsuranceQuote@3fd7a715]">GoogleTest</td> 
  <td>TestNG-test=Test-1@1847791224</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>21/05/06 18:39:35</td>   <td>32914</td> <td>&nbsp;</td><td title="&lt;&lt;StartInsuranceQuote.AfterTest()[pri:0, instance:GeicoPagesTest.StartInsuranceQuote@3fd7a715]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>21/05/06 18:39:35</td>   <td>32914</td> <td>&nbsp;</td><td title="&lt;&lt;internalAppClassDemo.afterTest()[pri:0, instance:InternalApp.internalAppClassDemo@711f39f9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
</table>
